<li class="classic-menu <% if(route == '/'){ %> active <% } %>">
    <a href="/admin"> Dashboard
        <span class="<% if(route == '/'){ %> selected <% } %>"> </span>
    </a>
</li>
<li class="classic-menu <% if(route == '/quotes'){ %> active <% } %>">
    <a href="/admin/quotes"> Quotes
        <span class="<% if(route == '/quotes'){ %> selected <% } %>"> </span>
    </a>
</li>
<li class="classic-menu <% if(route == '/samples'){ %> active <% } %>">
    <a href="/admin/samples"> Samples
        <span class="<% if(route == '/samples'){ %> selected <% } %>"> </span>
    </a>
</li>
<li class="classic-menu <% if(route == '/users'){ %> active <% } %>">
    <a href="/admin/users"> Users
        <span class="<% if(route == '/users'){ %> selected <% } %>"> </span>
    </a>
</li>
<li class="classic-menu <% if(route == '/customers'){ %> active <% } %>">
    <a href="/admin/customers"> Customers
        <span class="<% if(route == '/customers'){ %> selected <% } %>"> </span>
    </a>
</li>
