<%- include _admin-header -%>
<div class="container">
    <div class="page-title">
        <h1>Statistics</h1>
    </div>
</div>

<div class="container">
    <div class="page-content-inner">
        <div class="mt-content-body">
            <div class="row">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <span class="caption-subject font-green-steel uppercase bold">Qutoes and Samples</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent btn-no-border blue-oleo btn-outline btn-circle btn-sm active"  id="quote_month_opt">
                                    <input type="radio" class="toggle">Month
                                </label>
                                <label class="btn btn-transparent btn-no-border blue-oleo btn-outline btn-circle btn-sm " id="quote_week-opt">
                                    <input type="radio" class="toggle">Week
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="chart-quote"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<%- include _admin-footer -%>