<%- include _admin-header -%>

<div class="search-page search-content-1">
</div>

<div class="portlet box dark">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>leads
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <div class="search-bar">
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for leads" name="search" value="" />
                            <span class="input-group-btn">
                                <button class="btn dark uppercase bold" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <p class="search-desc clearfix"></p>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<%- include _admin-footer -%>